header{
    position: relative;
    height: 100vh;
}
.navbars{
    background-color:transparent;
}
.banners{
    width: 100%;
    height:100vh;

    
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../img/banner.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: blur(2px); */

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    /* z-index: -1; */
    
}

/* Start Camp Section */
.camps{
    background-color: #0d1137;
}

.campheadings{
    background-color: #fff;
    color: #000;
    border-bottom: 5px solid rgb(10, 52, 145);
}

.campimgs{
    transition: all 0.3s ease-in-out;
}

.campimgs:hover{
    transform: scale(1.09);
}

.headings{
    width: 200px;
    background-color: #000;
    text-align: center;
    color: #fff;
    padding: 15px 10px;

    position: absolute;
    top: -25px;
    right: 25px;
    z-index: 1;
}

.registerbtns{
    background-color: transparent;
    color: #fff;
    border-color: #fff;
}

.registerbtns:hover{
    background-color: #fff;
}

.registerbtns:active{
    transform: scale(0.95);
}
/* End Camp Section */

/* Start Modal Section*/
/* Start Login Modal */
.form-control{
    padding: 7px 35px;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #0d1137;
}

.form-control::placeholder{
    font-size: 14px;
    color: #a0a0a0;
}

.form-group .fas{
    /* font-size: 20px; */
    color: #0d1137;

    position: absolute;
    top: 12px;
    left: 15px;
}

form a{
    color: #0d1137;
    font-size: 15px;
}

.loginclosebtns{
    position: absolute;
    top: 15px;
    right: 15px;
}

.signupclosebtns{
    position: absolute;
    top: 15px;
    right: 15px;
}

.resetclosebtns{
    position: absolute;
    top: 0;
    right: -40px;
}

.buttons{
    background-color: #0d1137;
    color: #eee;

    transition: all 0.3s;
}

.buttons:hover{
    background-color: rgb(7, 24, 87);
    color: #eee;
}
/* End Login Modal */
/* End Modal Section */